[data-md-color-scheme="default"] {
    p {
        margin-bottom: 10px;
        line-height: 1.4;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    ul, ol {
        margin-bottom: 10px;
        padding-left: 20px;
    }

    blockquote {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article h1, article h2, article h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

[data-md-color-scheme="slate"] {
  .md-content {
      background-color: #14151G;
  }
  
  p {
      margin-bottom: 10px;
      line-height: 1.4;
  }

  h1, h2, h3, h4, h5, h6 {
      margin-top: 20px;
      margin-bottom: 15px;
  }

  ul, ol {
      margin-bottom: 10px;
      padding-left: 20px;
  }

  blockquote {
      margin-top: 10px;
      margin-bottom: 10px;
  }
}
